.txt-sec-color {
  font-size: 1rem;
}
p a {
  text-decoration: none;
  color: rgb(167, 139, 250);
}
#login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  width: 370px;
  background: linear-gradient(135deg, rgb(30, 30, 46), rgb(50, 50, 80));
  padding: 50px 50px;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.input {
  width: 100%;
  border-radius: 5px;
  margin: 10px 0;
  background-color: rgb(87, 87, 137);
  color: rgb(229, 231, 235);
}
.form {
  margin: 10px;
}
.btn {
  width: 100%;
  margin: 20px 0;
}
