/* GLOBAL */
@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.page-transition {
  animation: transitionIn 0.75s;
}

body {
  font-family: "Young Serif", serif;
  background-color: rgb(18, 18, 18);
}

.sec-bg {
  background: linear-gradient(135deg, rgb(43, 43, 73), rgb(27, 27, 70));
}

.txt-color {
  color: rgb(229, 231, 235);
}

.txt-sec-color {
  font-size: 1.2rem;
  color: rgb(180, 180, 190);
  font-family: "EB Garamond", garamond;
}

h3 {
  overflow: hidden;
}

section {
  padding: 60px 30px;
}

.sect-heading {
  text-align: center;
  font-size: 2.5rem;
  transition: all 0.3s ease;
}

.sect-heading:hover {
  transform: translateY(-5px), scale(0.5);
  color: rgb(167, 139, 250);
}
.sect-heading::after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  background: rgb(167, 139, 250);
  margin: 15px auto;
  border-radius: 10px;
}

@media (max-width: 426px) {
  .sect-heading {
    font-size: 1.5rem;
  }
}

.form-control {
  border: none;
  background-color: rgb(87, 87, 137);
  color: rgb(229, 231, 235);
}

.form-control::placeholder {
  color: rgb(180, 180, 190);
}

.form-control:focus {
  box-shadow: 0 0 10px rgba(167, 139, 250, 0.5);
}

.btn {
  padding: 5px 20px;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: rgb(167, 139, 250);
  border-color: rgb(167, 139, 250);
}

img {
  transition: all 0.3s ease;
}

img:hover {
  transform: scale(1.05);
}

.card-dark {
  background: linear-gradient(135deg, rgb(30, 30, 50), rgb(14, 14, 30));
  padding: 25px;
  border-radius: 25px;
  transition: all 0.3s ease;
  height: 100%;
}

.card-dark:hover {
  transform: translateY(-5px);
  box-shadow: 5px 7px 25px rgba(167, 139, 250, 0.5);
}

.card-light {
  background: linear-gradient(135deg, rgb(30, 30, 46), rgb(50, 50, 80));
  padding: 25px;
  border-radius: 20px;
  transition: all 0.3s ease;
  height: 100%;
}

.card-light:hover {
  transform: translateY(-5px);
  box-shadow: 5px 7px 25px rgba(167, 139, 250, 0.5);
}

/* NAVBAR */
.navbar {
  padding: 10px;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  transition: all 0.3s ease;
}

.navbar-brand:hover {
  transform: translateY(-2px);
  color: rgb(167, 139, 250);
}

.nav-item {
  margin: 0px 20px;
}

/* PROFILE */
.profile {
  cursor: pointer;
}

.profile-img {
  width: 25px;
  height: 25px;
  border-radius: 100%;
}

.popup {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  border-radius: 5px;
  overflow: hidden;
  width: 150px;
  opacity: 0;
  transition: 0.3s;
}

.popup .profile-button {
  cursor: pointer;
  border: none;
  padding: 5px 12px;
}

.profile:focus .popup {
  opacity: 1;
  visibility: visible;
  transform: 10;
}

/* GAMES AND QUIZZES */

#Games .game-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, rgb(30, 30, 50), rgb(14, 14, 30));
  padding: 25px;
  border-radius: 15px;
  transition: all 0.3s ease;
  height: 100%;
}

#Games .game-card:hover {
  transform: translateY(-5px);
  box-shadow: 5px 7px 25px rgba(167, 139, 250, 0.5);
}

#Quizzes .quiz-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, rgb(30, 30, 46), rgb(50, 50, 80));
  padding: 25px;
  border-radius: 15px;
  transition: all 0.3s ease;
  height: 100%;
}

#Quizzes .quiz-card:hover {
  transform: translateY(-5px);
  box-shadow: 5px 7px 25px rgba(167, 139, 250, 0.5);
}

#Quizzes .btn {
  margin-top: auto;
}
#Games .btn {
  margin-top: auto;
}
/* FOOTER */
footer {
  padding: 30px;
}
.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 3px;
}

.footer-links a {
  text-decoration: none;
  color: rgb(200, 200, 210);
  transition: all ease 0.3s;
  font-family: "EB Garamond", garamond;
}

.footer-links a:hover {
  color: rgb(167, 139, 250);
}

.social-icons i {
  font-size: 1.4rem;
  margin-right: 10px;
  color: rgb(200, 200, 210);
  cursor: pointer;
}

.social-icons i:hover {
  color: rgb(167, 139, 250);
}

/* Loading */
.book-spinner {
  display: none;
  width: 70px;
  height: 55px;
  position: relative;
  margin: 20px auto;
  border: rgb(167, 139, 250) solid 5px;
  border-radius: 5px;
  background-color: #ffffff;
  perspective: 150px;
}

.book-page {
  width: 30px;
  height: 45px;
  background-color: #eff1f2;
  position: absolute;
  top: 0px;
  left: 30px;
  /* Crucial: Flips from the left spine, not the center */
  transform-origin: left center;
  animation: flip-book 1.2s ease-in-out infinite;
}

/* 3D Flip Animation */
@keyframes flip-book {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    background-color: #d1d5d9;
  }
  100% {
    transform: rotateY(-180deg);
  }
}
