/* RECOMMENDATION */
.div-filter {
  margin: 15px;
  justify-content: center;
}

.btn-genre {
  width: 100%;
  display: flex;
  align-items: center;
}

.dropdown-menu {
  padding: 10px;
  overflow: auto;
}

#results {
  margin: 50px 0 0 0;
}

.featured-img {
  margin: 10px;
  width: 120px;
  border-radius: 10px;
}

@media (max-width: 426px) {
  .featured-book {
    text-align: center;
  }
}

.search-img {
  margin: 20px;
}

.card-dark {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

@media (max-width: 768px) {
  .card-dark {
    display: flex;
    flex-direction: column;
    padding: 40px;
  }
}

#pagination {
  margin: 20px;
}

.page-item.disable {
  background-color: rgb(27, 27, 70);
}

.page-link {
  background: none;
  border-radius: 0;
}

.page-link.active {
  background-color: rgb(167, 139, 250);
  border-color: rgb(167, 139, 250);
}

.page-link:hover {
  color: rgb(27, 27, 70);
}

.page-link-number {
  background: none;
  border-radius: 0;
  cursor: default;
}

@media (max-width: 767px) {
  .page-link-number {
    display: none;
  }
  .active > .page-link,
  .page-link.active {
    display: block;
  }
}
