/* RECOMMENDATION */
.div-filter {
  margin: 15px;
  justify-content: center;
}

.btn-genre {
  width: 100%;
  display: flex;
  align-items: center;
}

.dropdown-menu {
  padding: 10px;
  overflow: auto;
}

#results {
  margin: 50px 0 0 0;
}

.featured-img {
  margin: 10px;
  width: 120px;
  border-radius: 10px;
}

@media (max-width: 426px) {
  .featured-book {
    text-align: center;
  }
}

#pagination {
  margin: 20px;
}

.page-link {
  background: none;
  border-radius: 0;
}

.active > .page-link,
.page-link.active {
  background-color: rgb(167, 139, 250);
  border-color: rgb(167, 139, 250);
}

.page-link:hover {
  color: rgb(27, 27, 70);
}

.page-link-number {
  background: none;
  border-radius: 0;
  cursor: auto;
}

@media (max-width: 427) {
  .page-link-number {
    display: none;
  }
}
