/* REVIEW */
.review-book {
  margin: 0 20px 0 0;
  width: 70px;
  border-radius: 5px;
}

.review-user {
  color: rgb(167, 139, 250);
  font-size: 0.85rem;
}

.review-text {
  color: rgb(200, 200, 210);
  font-size: 0.9rem;
}

@media (max-width: 424px) {
  .card-dark .group-item {
    display: flex;
    flex-direction: column;
  }
  .review-book {
    width: 90%;
    margin: 10px;
  }
}
#searchContainer {
  width: 100%;
  margin: 20px 0;
}
.search-bar {
  background-color: rgb(87, 87, 137);
}

.stars {
  color: gold;
}

.form {
  margin: 10px;
}
.form label {
  margin: 15px 0 5px 0;
}
